<h1>Your Parcel's information and price:<h1>

  <h5> <strong>Length:</strong> <%= @length %></h5>
  <h5> <strong>Width:</strong> <%= @width %></h5>
  <h5> <strong>Height:</strong> <%= @height %></h5>
  <h5> <strong>Weight:</strong> <%= @weight %></h5>
  <h5> <strong>Here is the price of shipping your package:</strong> $<%= @cts %></h5>
