<h1>Your Parcel's information and price:<h1>

  <h5> Length: <%= @length %></h5>
  <h5> Width: <%= @width %></h5>
  <h5> Height: <%= @height %></h5>
  <h5> Weight: <%= @weight %></h5>
  <h5> Here is the price of shipping your package: $<%= @cts %></h5>
